html {
   box-sizing: border-box; } 
*, *::before, *::after { box-sizing: inherit; 
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  font-size: 16px;
  color: #000000;
}


.site-navigation  {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  background-color: #eeeeee;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover
.user-navigation a:hover {
  background-color: #fb565a;
  text-decoration: underline;
}

.site-navigation a:focus,
.user-navigation a:focus {
  background-color: #e74246;
  text-decoration: underline;
}


.site-navigation a:active,
.user-navigation a:active {
  background-color: #bdbdbd;
  text-decoration: underline;
}



.service p {
  color: #283136;
}

.service h3 {
  font-size: 24px;
  line-height: 30px;
}

.button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  background-color: #fb565a;
  vertical-align: middle;
  border: none;
}

.button:hover {
  background-color: #fb565a; 
}

.button:focus {
  background-color: #e74246; 
}

.button:active {
  background-color: #d7373b; 
}

.button-red,
.button-red:hover {
  background-color: #fb565a;
}

.button-red:focus {
  background-color: #e74246;
}

.button-red:active {
  background-color: #d7373b;
}

.button-green,
.button-green:hover {
  background-color: #00ca74;
}

.button-green:focus {
  background-color: #00bc6c;
}

.button-green:active {
  background-color: #00aa62;
}

.button-yelow,
.button-yelow:hover {
  background-color: #efc84a;
}

.button-yelow:focus {
  background-color: #eab534;
}

.button-yelow:active {
  background-color: #e5a722;
}

.footer-social-item a:hover {
  background-color: #e1e1e1;
}

.footer-social-item a:focus {
   background-color: #e74246;
}

.footer-social-item a:active {
   background-color: #d7373b;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}


.site-header {
  display: flex;
  min-height: 115px;
  width: auto;
  background-color: #eeeeee;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  width: 440px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-header-logo {
width: 360px ;
padding-left: 20px;
}

.user-navigation {
  display: flex;
  margin-left:auto;
  margin-right:10px;
  justify-content: space-between;
  list-style: none;
}

.site-navigation {
  display: flex;
  width: 1160px; 
  justify-content: space-between;
  align-items: center;
}


.slide {
  min-height: 430px;
  background-color: #eeeeee;
}


.service {
  display: flex;
  width: auto;
  min-height: 510px;

}

.list-service {
 display: flex;
 width: 1100px;
 justify-content: space-between;
 align-items: center;
 list-style: none;
 margin: 0;
 padding-left: 20px;
}

.list-service-item {
  width: 300px;
  height: 350px;
}

.about-us {
  min-height: 530px;
  width: 1160px;
  background-color: #3ceba2;
  margin: 0;
  padding: 0;
}

.work {
  min-height: 185px;
  background-color: #d8f148;
  margin: 0;
  padding: 0;
}

.map {
  min-height: 500px;
  background-color: #f35b5b;
  margin: 0;
  padding: 0;
}

.pop-up {
  height: 530px;
  width: 960px;
}



.site-footer {
  display: flex;
  min-height: 220px;
  width:1160px;
  align-items:center;
  background-color: rgb(127, 98, 245);
}

.footer-social-item {
  display: flex;
  width: 260px;
  padding-left:20px;
  justify-content:space-between;
  
}

.footer-promo {
  display:flex;
  flex-wrap:wrap;
  width: 560px;
  margin-left:140px;
  font-size: 16px;
  line-height: 22px;
}

.footer-promo b {
  font-size: 36px;
  line-height: 36px;
}

.down-header {
  display: flex;
  min-height: 240px; 
}


















.filter-grid {
  border: none;
  color: #283136;
}

.legend-filters {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.grid-list {
  list-style: none;
}

.catalog-list {
  list-style: none;
}

.footer-social-item {
  list-style: none;
}

.catalog-item-description {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #666666;
}

.feedback h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.feedback-item label {
  font-weight: 700;
}

.feedback input[type="text"],
.feedback input[type="password"] {
  font-size: 16px;
  line-height: 18px;
  border: 2px solid #d7dcde;
}

.feedback input[type="text"],
.feedback input[type="password"]:hover {
  border: 2px solid #d7dcde;
}

.feedback input[type="text"],
.feedback input[type="password"]:focus {
  border: 2px solid #666666;

.feedback input[type="text"],
.feedback input[type="password"]:invalid {
  border: 2px solid #e74246;
}


.filter-input:hover + label,
.filter-input:focus + label {
  color: #4d4d4d;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #283136;
}

.filter-input:disabled + label {
  color: #000000;
  opacity: 0.5;
}

.catalog-item {
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalog-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

