html {
  box-sizing: border-box;
 } 

*, *::before, *::after { 
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: Roboto ,Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: #000000;
}

.containers {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.site-navigation a {
  line-height: 30px;
  font-weight: 500; 
  color: #000000;
  padding: 0 5px;
}

.site-navigation a:first-child {
  padding:0;
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:focus,
.user-navigation a:focus {
  color: #887c7c;
}

.site-navigation a:active,
.user-navigation a:active {
  color: #bdbdbd;
}

.down-header p {
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.service p {
  color: #283136;
}

.service h3 {
  font-size: 24px;
}

.button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  background-color: #fb565a;
  vertical-align: middle;
  border: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.site-header {
  display: block;
  background-color: #eeeeee;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  width: 500px;
  padding: 0 30px;
  padding-top: 58px;
  list-style: none;
}

.site-header-logo {
  margin-top: 50px;
}

.user-navigation {
  display: flex;
  position: relative;
  justify-content: space-between;
  list-style: none;
  padding-top: 54px;
  margin-left: 40px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
}

.login-link::before {
  content: "";
  position: absolute;
  z-index: 100;
  top: 60px;
  left: 1px;
  width: 16px;
  height: 18px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
}

.active {
  border-bottom: 2px solid #fb565a;
}

.slider-containers {
  position: relative;
}

.slider-list {
  padding: 0;
  margin: 0;
}

.slider-controls {
  position: absolute;
  display :flex;
  justify-content: space-between;
  left: 50%;
  bottom: 95px;
  z-index: 100;
  width: 163px;
  height: 21px;
  font-size: 0;
  padding: 0 38px;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative; 
  display: inline-block;
  vertical-align:middle;
  width: 18px;
  height: 18px;
  padding: 8px;  
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: ""; 
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; 
  width: 18px;
  height: 18px;  
  background: #ffffff; 
  border-radius: 50%;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93%;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100%;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100%;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 8px;
  height: 8px;
  left: 5px;
  top: 5px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin-top: -11px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  color: #283136;
  max-width: 430px;
  margin-top: -26px;
}

.slider-item-button {
  display: block;
  width: 240px;
  height: 50px;
  padding: 5px 5px;
  margin-top: 38px;
  font-size: 16px;
  line-height: 40px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;  
  text-decoration: none; 
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button-red{
  background-color: #fb565a;
}

.button-red:hover {
  background-color: #e74246;
}

.button-red:focus {
  background-color: #fb565a;
}

.button-red:active {
  background-color: #d7373b;
}

.button-green {
  background-color: #00ca74;
}


.button-green:hover {
  background-color: #00bc6c;
}

.button-green:focus {
  background-color: #00ca74;
}

.button-green:active {
  background-color: #00aa62;
}

.button-yelow {
  background-color: #efc84a;
}


.button-yelow:hover {
  background-color: #eab534;
}

.button-yelow:focus {
  background-color: #efc84a;
}

.button-yelow:active {
  background-color: #e5a722;
}

.footer-social-item a:hover {
  background-color: #e1e1e1;
}

.footer-social-item a:focus {
  background-color: #e74246;
}

.footer-social-item a:active {
  background-color: #d7373b;
}

.service {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.list-service {
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.list-service-item {
  width: 300px;
  height: 350px;
}

.list-service-item h3 {
  margin: 0;
  margin-top: 16px;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
}

.list-service-description{
  padding: 1px 50px 1px 0;
  margin: 0;
  margin-top: 18px;
}

.list-service .button {
 display: block;
 width: 160px;
 height: 50px;
 margin: 0;
 margin-top: 31px;
 font-size: 16px;
 line-height: 50px;
 color: #ffffff;
 text-transform: uppercase;
 text-align: center;
 text-decoration: none;
 text-decoration: none;  
 text-decoration: none;
 font-weight: 500;
 border-radius: 3px;
}

.about-us {
  display: flex;
  margin-top: 75px;
  border-top: 3px solid #eeeeee;
}

.about-us-left {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  margin: 0;
  padding: 0;
}

.abot-us-head {
  font-size: 45px;
  line-height: 45px;
  padding-right: 130px;
  margin: 0;
  margin-top: 75px;
  font-weight: 500; 
}

.about-us-text {
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #283136;
  margin: 0;
  margin-top: 30px;
  padding-right: 120px; 
}

.about-us-left h3 {
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-top: 41px;
}

.about-us li {
  list-style: none;
  font-size: 16px;
  line-height: 46px;
  color: #283136;
  margin: 0;
  margin-left: -3px;
}

.about-us-left li::before {
  content: "";
  position: absolute;
  display: block;
  margin-top: 21px;
  border-top: 2px solid #fb565a;
  width: 25px;
  left: 1px;
 }

.about-us-right {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
  width: 360px;
  min-height: 405px;
  margin-left: auto; 
}

.about-us-right h2 {
  margin: 0;
  padding: 0;
  margin-top: 46px;
  margin-bottom:20px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.percentages {
  height: 65px;
  font-size: 45px;
  color: #000000;
  font-weight: 700;
  width: 200px;
  padding-bottom: 10px;
  padding-right: 10px;
}

table {
  width:350px;
  height: 95px;
  margin-left:-10px;
  margin-bottom: 20px;
 
}

.details { 
  height: 30px;
  line-height: 18px;
  color: #283136;
}
 
.sup {
  font-size: 28px;
}

.about-us-right-picture {
  display: block;
  margin: 0;
  margin-top: 40px;
  margin-bottom: -20px; 
}
 
.work {
  display: flex;
  position:relative;
  align-items: center;
  justify-content: space-between;
  border-top: 3px #eeeeee solid;
  border-bottom: 3px #eeeeee solid;
  min-height: 180px;
  min-width: 1160px;
  padding: 0 ;
  margin: 50px 0 75px 0;
}

.work-cont {
  display: block;
  position: relative;
  margin:0;
  padding:0;
  width: 260px;
  height: 180px;
}

.work-site {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 ;
  margin: 0;
  width: 260px;
  height: 180px;
  opacity: 0.2;
}

.work-site:hover {
  opacity: 1;
}

.work-site:focus {
  opacity: 1;
}

.work-site:active {
  opacity: 0.1;
}

 .work-cont:after {
  content:"";
  position:absolute;
  z-index: 100;
  border-right: 2px #eeeeee solid;
  left: -20px;
  top: 63px;
  height: 55px;
}

.work-cont:first-child:after {
  border: none;
}

.cont-mod {
  margin: 0 auto;
}

.map {
  position: relative;
}

.map-containers {
  position: relative;
}

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 416px;
  border: none;
}

.maps-image {
  display: block;
  margin: 0 auto;
}

.frame {
  position: relative;
  z-index: 2;
  width: 100%;
  border: none;
}

.modal-map {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: -365px;
  width: 320px;
  height: 310px;
  background-color: #ffffff;
}

.modal {
  display: flex;
  flex-wrap:wrap;
  padding-left: 50px;
}

.modal-head {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin:0;
  margin-top: 55px;
  padding: 0;
}

.modal-text {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  color: #666666;
  margin: 0;
  margin-top: 12px;
  padding: 0;
  padding-right: 60px;
  text-transform: none;
}

.modal-tel {
  margin: 0;
  margin-bottom: 20px;
}

.pop {
  position: relative;
}

.pop-up {
  display: none;
  position: fixed;
  flex-wrap: wrap;
  top: 50%;
  left: 50%;
  width: 960px;
  height: 590px;
  margin-left: -480px;
  margin-top:-285px;
  z-index: 105;
  background-color: #ffffff;
  padding: 75px 100px 85px 100px;
  box-shadow: 0px 10px 25px 10px rgba(0, 0, 0, 0.25);
}

.feedback-item {
  display:flex;
}

.feedback-item-mail{
  margin:0;
  padding:0;
  margin-left: 40px;
  margin-top: 25px;
}

.feedback-item-name{
  margin: 0;
  margin-top: 25px;
}

.feedback-item input {
  height: 50px;
  width: 360px;
}

.feedback-item-text {
  margin: 0;
  margin-top:37px;
}

.close-modal-button {
  position: absolute;
  top: 70px;
  right: 90px;
  width: 22px;
  height: 28px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.close-modal-button::before,
.close-modal-button::after {
  content: "";
  position: absolute;
  top: 10px;
  left: -4px;
  width: 25px;
  height: 4px;
  background-color: #fecccd;
}

.close-modal-button::before {
  transform: rotate(45deg);
}

.close-modal-button::after {
  transform: rotate(-45deg);
}

.close-modal-button:hover::after,
.close-modal-button:hover::before {
  background-color: #fb565a;
}

.close-modal-button:focus::after,
.close-modal-button:focus::before{
  background-color: #fecccd;
}

.close-modal-button:active::after,
.close-modal-button:active::before {
  background-color: #ffeeee;
}

.pop h2 {
  font-size: 45px;
  font-weight: 700;
  margin: 0;
  padding:0;
  margin-bottom: 25px;
}

.pop label {
  font-weight: 700;
}

.modal-button {
  width: 220px;
  height: 55px;
  margin: 0 50px;
  padding-top: 20px;
  font-size: 16px;
  line-height: 18px;
  background-color: #fb565a;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  border: none;
}

.modal-button:hover {
  background-color: #e74246;
}

.modal-button:focus {
  background-color: #fb565a;
}

.modal-button:active {
  background-color: #d7373b;
}


.md-btn {
  width: 260px;
  height: 55px;
  margin: 0;
  font-size: 16px;
  line-height: 55px;
  background-color: #fb565a;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  border: none;
  margin-top: 45px;
}

.feedback-item-text input {
  width: 760px;
  height: 120px;
}

.feedback-form input {
  font-size: 16px;
  padding:0 14px;
  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.feedback-form textarea {
  font-size: 16px;
  padding: 15px 15px;
  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.feedback-form input:hover {
 border-color: #b4b9bb;
}

.feedback input:focus {
 border-color: #000000;
}

.feedback input:invalid {
  border-color: #e74246;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #4d4d4d;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #283136;
}

.filter-input:disabled + label {
  color: #000000;
  opacity: 0.5;
}

.catalog-item {
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalog-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.down-header {
  display: flex;
  min-height: 230px;
  text-align: center;
  justify-content: center;
  font-size: 55px;
  line-height: 55px;
  font-weight: 700;
  padding-top: 66px;
}
 
.head-filters {
  display: flex;
  justify-content: space-between;
  min-height: 135px;
}

.list-filters {
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-transform:uppercase;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
}

.sorting-filters {
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}

.main-catalog {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.filters {
  width: 300px;
  padding: 0;
  margin: 0;
}

.catalog-item {
  position: relative;
  width: 360px;
  height: 576px;
  margin-left: 140px;
  margin-bottom: 72px;
 }
 
 .catalog-item:nth-child(even) {
  margin-right: 0;
  margin-left: 40px;
} 

.catalog-item:first-child {
  margin-top: 74px;
} 

.catalog-item:nth-child(2)  {
  margin-top: 74px;
} 

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog-cont-list {
  display: flex;
  position: relative;
  list-style: none;
  margin-top:57px;
  margin-left: 100px;
  margin-right: 55px;
  font-weight:700;
  font-size: 18px;
  text-transform:uppercase;
}

.catalog-cont-p {
  display: flex;
  position: relative;
  list-style: none;
  margin: 0;
  margin-top:54px;
  margin-left: 140px;
  margin-right: 55px; 
  font-weight:700;
  font-size: 18px;
  text-transform:uppercase;
}

.catalog-cont {
  display: flex;
  padding: 0;
  margin: 0;
}

.catalog-li {
  display: flex;
  margin-left: 25px;

  font-size: 14px;
  font-weight: 500;
  opacity: 0.2;
}

.catalog-li-pr {
  display: flex;
  padding-left: 52px;
  margin-left: 20px;
  font-size: 14px;
  font-weight: 300;
 
}

.catalog-li:hover {
  opacity: 0.6;
}

.catalog-li:active {
  opacity: 1;
}

.icon-up::after {
  content: "";
  position: absolute;
  z-index: 100;
  width: 20px;
  height: 20px;
  right: -59px;
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: 100%;
  opacity: 0.2;
}

.icon-up::before {
  content: "";
  position: absolute;
  z-index: 100;
  width: 20px;
  height: 20px;
  right: -88px;
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-position: 100%;
  opacity: 0.2;
}

.icon-up:hover{
  opacity: 0;
}

.icon-up:active{
  opacity: 1;
}

.icon-up:checked{
  opacity: 1;
}

.catalog-item-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 100;
  bottom: 0px;
  width: 360px;
  min-height: 230px;
  background-color: #eeeeee;
  opacity: 0;
}

.catalog-item:hover .catalog-item-list {
  opacity: 1;
}

.catalog-item-list:hover {
  opacity: 1;
}

.catalog-item::after {
  content: "";
  position: absolute;
  top: -39px;
  left: 0px;
  width: 360px;
  height: 40px;
  background-image: url("../img/browser.svg");
  background-repeat: no-repeat;
  background-position: 100%;
  opacity: 0.12;
}

.catalog-item:hover::after {
  opacity: 1;
}

.pagination {
  display: flex;
  margin:0;
  margin-left: 140px;
  margin-bottom: 58px;
  margin-top: -10px;
  padding: 0;
}

.pagination-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination-item {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #eeeeee;
  color: #000000;
  border-radius: 3px;
  line-height: 50px;
  text-align: center;
  margin-right: 9px;
} 

.pagination-item-current{
  display: block;
  width: 50px;
  height: 50px;
  color: #000000;
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
  border-radius: 3px;
  line-height: 50px;
  text-align: center;
  margin: 0;
  margin-right: 10px;
}

.pagination-list a:hover{
  background-color: #dfdfdf;
}

.pagination-list a:focus{
  background-color: #eeeeee;
}

.pagination-list a:active{
  background-color: #d5d5d5;
  box-shadow: 0 -3px rgba(122,122,122,0.1);
}

.pagination-button {
  display: block;
  margin: 0;
  margin-left: 3px;
  padding: 0;
  width: 265px;
  height: 50px;
  background-color: #eeeeee;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  border: none;
}

.pagination-button:hover{
  background-color: #dfdfdf;
}

.pagination-button:focus{
  background-color: #eeeeee;
}

.pagination-button:active{
  background-color: #d5d5d5;
  box-shadow: 0 -3px rgba(122,122,122,0.1);
}


.catalog-site {
  display: block;
  padding: 0;
  margin: 0;
  margin-top: 25px;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.catalog-site:hover {
 color: #fb565a;
}

.catalog-site:focus {
  color: #000000;
}

.catalog-site:active {
  color: #cacaca;
}

.catalog-item-description {
  display: flex;
  flex-wrap: wrap;
  padding: 1px 80px;
  line-height: 18px;
  margin: 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}

.catalog-item-title {
  margin: 0;
  padding: 0;
}

.catalog-button {
  width: 200px;
  height: 50px;
  padding: 0;
  margin: 0 80px;
  margin-bottom: 42px;
  margin-top: 15px;
  font-size: 16px;
  font-weight: ;
  line-height: 50px;
  background-color: #fb565a;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  border: none;
}

.catalog-button:hover {
  background-color: #e74246;
}

.catalog-button:focus {
  background-color: #fb565a;
}

.catalog-button:active {
  background-color: #d7373b;
}

.filter-grid {
  padding: 0;
  margin: 0;
  border: none;
}

.filter-grid:first-child {
  margin-top: 58px;
  margin-bottom: 57px;
}

.legend-filters {
  margin: 0;

  font-size: 18px;
  font-weight:700;
  text-transform:uppercase;
}
 
.grid-list {
  padding: 0;
  margin: 0;
  margin-top: 19px;
  margin-bottom: 49px;
  list-style: none;
  line-height: 20px;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 40px;
  color: #283136;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  margin-left: -3px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -38px;
  width: 28px;
  height: 25px; 
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.4; 
}

.filter-input-checkbox:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
  opacity: 0.4;
  left: -36px;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -39px;
  width: 28px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.4;
}

.filter-input-radio:checked + label::before {
  background-image: url("../img/radio-on.svg");
  opacity: 0.5;
}


.filter-button {
  width: 260px;
  height: 50px;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  background-color: #eeeeee;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  border: none;
}

.filter-button:hover{
  background-color: #dfdfdf;
}

.filter-button:focus{
  background-color: #eeeeee;
}

.filter-button:active{
  background-color: #d5d5d5;
  box-shadow: 0 -3px rgba(122,122,122,0.1);
}

.range-filter {
  width: 260px;
  margin-top: 50px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
   left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  vertical-align:middle;
  text-transform: uppercase;
}

.price-controls input {
  width: 80px;
  height: 38px;
  padding: 8px 10px;
  margin-left: 9px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

 .site-footer {
  display: flex;
  align-items: center;
  height: 225px;
}

.footer-social-item {
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-promo {
  display: flex;
  flex-wrap: wrap;
  width: 560px;
  margin-left: 130px;
  margin-top: 12px;
  font-size: 16px;
  line-height: 40px;
}

.social {
  display: block;
  margin-top: 5px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: #eeeeee;
  margin-right: 10px;
}

.social-button-vk::before {
  content: "";
  position: absolute;
  z-index: 100;
  top: 37%;
  left: 27px;
  width: 27px;
  height: 18px;
  background-image: url("../img/vk-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-button-fb::before {
  content: "";
  position: absolute;
  z-index: 100;
  top: 34%;
  left: 125px;
  width: 17px;
  height: 21px;
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-button-in::before {
  content: "";
  position: absolute;
  z-index: 100;
  top: 34%;
  right: 39px;
  width: 21px;
  height: 21px;
  background-image: url("../img/insta-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-footer a:hover {
  background-color: #e74246;
}

.site-footer a:focus {
  background-color: #eeeeee;
}

.site-footer a:active {
  background-color: #d7373b;
}

.footer-promo b {
  font-size: 36px;
  line-height: 36px;
}

.footer {
  display: flex;
  height: 105px;  
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}



